{% extends 'base-bootstrap.html' %}

{% load static %}
{% block content %}
{% include 'header.html' %}

<h1 style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">Discussion Comments</h1>

<h2 style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">{{ discussion.title }}</h2>

<form style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;" method="GET" action="{% url 'ForumDiskusi:show_discussion_comment' discussion_id=discussion.id %}" class="form-inline">
    <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search Comments by Title">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<button style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 10px;">Add Comment</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title"></input>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="content" name="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Comment</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-deck w-full" id="comment_cards"></div>
</div>




<script>
    async function getComments() {
        return fetch("{% url 'ForumDiskusi:get_comment_json' discussion_id=discussion.id %}").then((res) => res.json());
    }

    async function refreshComments() {
        const comments = await getComments();

        const commentCardsContainer = document.getElementById("comment_cards");
        commentCardsContainer.innerHTML = "";

        comments.forEach((comment) => {
            const card = document.createElement("div");
            card.classList.add("col-lg-4", "col-md-6", "mb-4");

            card.innerHTML = `
            <div class="card">
                <div class="card-body">
                <p class="card-text">by: ${comment.fields.name}</p>
                <h5 class="card-title">${comment.fields.title}</h5>
                <p class="card-text">${comment.fields.content}</p>
                <p class="card-text">Date: <span class="formatted-date">${comment.fields.created_at}</span></p>
             
                </div>
            </div>
            `;
            commentCardsContainer.appendChild(card);
            
        });

                // Select all elements with class 'formatted-date' and update their content
        const dateElements = document.querySelectorAll('.formatted-date');
        dateElements.forEach((element) => {
            // Get the original date value
            const originalDate = element.textContent;
            
            // Replace 'T' with a space
            const formattedDate = originalDate.replace('T', ' ').split('.')[0];

            // Update the content with the formatted date
            element.textContent = formattedDate;
        });
    }

    refreshComments();

    function addComment() {
        fetch("{% url 'ForumDiskusi:add_comment_ajax' discussion_id=discussion.id %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshComments);

        document.getElementById("form").reset();
        return false;
    }

    document.getElementById("button_add").onclick = addComment;
</script>
{% include 'footer.html' %}

{% endblock content %}

