{% extends 'base-bootstrap.html' %}

{% load static %}

{% block meta %}
    <title>Review Buku</title>
{% endblock meta %}

{% block content %}
    {% include 'header.html' %}
    <style>
        body {
            background-color: #F5F7FA ; 
            color: #000; 
            text-align: center; 
        }

        h1 {
            color: #738AB1; 
            text-align: center; 

        }

        form {
            background-color: #fff; 
            padding: 50px;
            margin: 50px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 5px;
        }

        input[type="text"], input[type="number"], textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .stars {
            font-size: 50px; 
            cursor: pointer;
            color: #ccc; 
        }

        .stars:hover {
            color: #007BFF; 
        }

        .star-filled {
            color: #fff700; 
        }

        input[type="submit"] {
            background-color: #007BFF; 
            color: #fff; 
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3; 
        }

        label {
            color: #007BFF; 
        }
    </style>

    <body>
        <h1>Write your thoughts about this book!</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        
                        <td>
                            <input type="submit" value="Add Review"/>
                        </td>
                    </tr>
                </table>
            </form>
    </body>

    {% include 'footer.html' %}
{% endblock %}
