{% extends 'base-bootstrap.html' %}

{% load static %}

{% block meta %}
    <title>Create Profile</title>
{% endblock meta %}

{% block content %}
    {% include 'header.html' %}
    <div class="createbox">
        <h1 style="margin-bottom: 30px;">Create Profile</h1>
            <div class="createform">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td>
                                <input class="createbutton" type="submit" value="Create Profile"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}