{% extends 'base-bootstrap.html' %}

{% load static %}

{% block meta %}
    <title>Create Profile</title>
{% endblock meta %}

{% block content %}
    <div class="createbox">
        {% include 'header.html' %}
        <h1 style="margin-bottom: 20px;margin-top: 20px">Create Profile</h1>
        <div class="createform" style="margin-bottom: 20px">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input class="createbutton" type="submit" value="Create Profile"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}