{% extends "base-bootstrap.html" %}

{% load static %}
{% block content %}

    <title>Borrow and Return Book</title>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for buku in book %}
            <tr>
                <td>{{buku.title}}</td>
                <td>{{buku.author}}</td>
            </tr>
        {% endfor %}
    </table>
    <button id="borrowButton">Borrow Book</button>
    <button id="returnButton">Return Book</button>

    <script>
        const borrowButton = document.getElementById("borrowButton");
        const returnButton = document.getElementById("returnButton");

        returnButton.disabled = true;

        let isBookBorrowed = false;

        function updateButtonState() {
            if (isBookBorrowed) {
                borrowButton.disabled = true;
                returnButton.disabled = false;
            } else {
                borrowButton.disabled = false;
                returnButton.disabled = true;
            }
        }

        borrowButton.addEventListener("click", function() {
            isBookBorrowed = true;
            updateButtonState();
        });

        returnButton.addEventListener("click", function() {
            isBookBorrowed = false;
            updateButtonState();
        });

        updateButtonState();
    </script>
{% endblock content %}
